{% extends 'main/base.html' %}

{% block content %}

<div class="container">
    <h1>
        Добавить новую запись
    </h1>
    <br>
    <form class="form-group col-lg-4" method="POST">
        {% csrf_token %}

        {{ form.media }}

        <div>
            {{form.non_field_errors }}
        </div>

        {% for f in form %}
        <div class="mb-3">

            {% if not f.is_hidden %}
            <div>
                {{f.errors}}
            </div>
            <label class="form-label" for="{{f.id_for_label}}">{{f.label}}: </label>
            {% endif %}
            <div>{{f}}</div>



        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Опубликовать</button>

    </form>


    <script>
        var post_author = "{{user.id}}"
        document.getElementById('post_author').value = post_author
    </script>
</div>

{% endblock %}