{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}

<div class="container">

    <h1>
        {% trans 'Категория' %} "{{cats}}"
    </h1>

    {% if category_posts %}

    <ul>
        {% for post in category_posts %}

        <li>
            <a href="{% url 'article_detail' post.pk %}">
                {{ post.title }}
            </a>

            | {{ post.author }}

            | {{post.post_date}}

            {% if user.is_authenticated %}

            {% if user.id == post.author.id %}

            <small>
                <a href="{% url 'edit_article' post.pk %}">( {% trans 'Отредактировать'%})</a>
            </small>
            | <small>
                <a href="{% url 'delete_article' post.pk %}">({% trans 'Удалить' %})</a>
            </small>

            {% else %}

            <h2>
                {% trans 'Упс...Кажется эту запись создали не вы...' %}
            </h2>

            {% endif %}

            {% endif %}
            <br>

        </li>

        {% endfor %}
        {% else %}
        <h2>
            {% trans 'Такой страницы не существует' %}
        </h2>
        {% endif %}
    </ul>

</div>

{% endblock %}