{% extends 'main/base.html' %}

{% block content %}

<div class="container">

    <h1>
        Категория "{{cats}}"
    </h1>

    {% if category_posts %}

    <ul>
        {% for post in category_posts %}

        <li>
            <a href="{% url 'article_detail' post.pk %}">
                {{ post.title }}
            </a>

            | {{ post.author }}

            | {{post.post_date}}

            {% if user.is_authenticated %}

            {if user.id == post.author.id}

            <small>
                <a href="{% url 'edit_article' post.pk %}">(Отредактировать)</a>
            </small>
            | <small>
                <a href="{% url 'delete_article' post.pk %}">(Удалить)</a>
            </small>

            {% else %}

            <h2>
                Упс...Кажется эту запись создали не вы...
            </h2>

            {% endif %}

            {% endif %}
            <br>

        </li>

        {% endfor %}
        {% else %}
        <h2>
            Такой страницы не существует
        </h2>
        {% endif %}
    </ul>

</div>

{% endblock %}