{% extends 'main/base.html' %}

{% block content %}
<div class="container">

    <h1>Добавить событие</h1>

    <form class="col-lg-4" action="{% url 'addevent' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
            {{form.non_field_errors }}
        </div>

        {% for f in form %}
        <div class="mb-3">

            <label class="form-label" for="{{f.id_for_label}}">{{f.label}}: </label>
            <div>{{f}}</div>

            <div>
                {{f.errors}}
            </div>
        </div>
        {% endfor %}

        <button class="btn btn-primary" type="submit">Сохранить</button>

    </form>
</div>

{% endblock %}