{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- SELF-WRITTEN STYLES -->

    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <!-- TEST ICON -->

    <link rel="shortcut icon" href="{% static 'main/images/test.jpg' %}" type="image/x-icon">

</head>

<body>

    <!-- 1.HEADER START -->

    <header class="header">
        <nav class="container">
            <ul>
                {% for m in menu %}

                <li>
                    <a href="{% url m.url_name %}">{{ m.title }}</a>
                </li>

                {% endfor %}
            </ul>
        </nav>
    </header>

    <!-- 1.HEADER END -->

    <!-- 2.CONTENT START -->

    {% block content %}{% endblock %}

    <!-- 2.CONTENT END -->
</body>

</html>