{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- SELF-WRITTEN STYLES -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <!-- 1.HEADER START -->

    <header class="header">
        <nav class="container">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        Главная
                    </a>
                </li>
                <li>
                    <a href="{% url 'about' %}">
                        О нас
                    </a>
                </li>
                <li>
                    <a href="admin/">
                        Панель администратора
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- 1.HEADER END -->

    <!-- 2.CONTENT START -->

    {% block content %}{% endblock %}

    <!-- 2.CONTENT END -->
</body>

</html>