{% extends 'main/base.html' %}

{% block content %}

<h1>
    {{event.title}}
</h1>


{% if event.photo %}
<p>
    <img src="{{event.photo.url}}" alt="">
</p>
{% endif %}

{{event.description | linebreaks}}


<!-- SCHEDULE START -->

{% if schedule %}

<a href="#schedule">Купить билет</a>

<form id="schedule" action="#">
    <h2>
        Расписание:
    </h2>
    {% for s in schedule %}
    <input type="radio" name="availableDate" id="availableDate{{forloop.counter}}">
    <label for="availableDate{{forloop.counter}}">{{s.date}}</label>
    <br>

    {%endfor%}

    {% verbatim %}

    <div id="counter">
        <div class="btn btn-primary" v-if="counter < 10" @click='counterPlus'>Добавить</div>
        <p>Кол-во:</p>
        <input type="text" v-model="counter">
        <div class="btn btn-primary" v-if="counter > 0" @click='counterMinus'>Удалить</div>
    </div>

    {% endverbatim %}

    <div class="btn btn-primary">
        Купить
    </div>
    <input type="text" placeholder="Имя">
    <input type="text" placeholder="Email">
    <button type="submit">Купить</button>

</form>

{% endif %}

<!-- SCHEDULE END -->


{% endblock %}