{% extends 'main/base.html' %}

{% block content %}

<div class="container">
    <div class="content row">
        <div class="col-lg-6">
            {% if event.photo %}
            <p>
                <img class="img-fluid" src="{{event.photo.url}}" alt="">
            </p>
            {% endif %}

            <!-- SLIDER START -->

            {% for image in event.eventimage_set.all %}
            <!-- <img class="img-fluid" src="{{image.photo.url}}" alt=""> -->
            {% endfor %}

            <!-- SLIDER END -->

        </div>
        <div class="col-lg-6">
            <h1 class="text-center">
                {{event.title}}
            </h1>

            <h4>
                {% if event.discount %}

                {% trans 'Цена' %}: {{event.price}} {% trans 'рублей'%}
                Скидка: {{ event.discount }}%

                {% else %}
                {% trans 'Цена'}: {{event.price}} {% trans 'рублей'%}
                {% endif %}

            </h4>
            <p>
                {{event.description | linebreaks}}
            </p>
            <a class="btn btn-primary" href="{% url 'creating_oreder' event.id %}">{% trans 'Купить'%}</a>
        </div>
    </div>
</div>


{% endblock %}