{% extends 'main/base.html' %}

{% block content %}

<div class="container">
    <div class="content row">
        <div class="col-lg-6">
            {% if event.photo %}
            <p>
                <img class="img-fluid" src="{{event.photo.url}}" alt="">
            </p>
            {% endif %}

            {% for image in event.eventimage_set.all %}
            <img class="img-fluid" src="{{image.photo.url}}" alt="">
            {% endfor %}

        </div>
        <div class="col-lg-6">
            <h1 class="text-center">
                {{event.title}}
            </h1>

            <h4>
                Цена: {{event.price}} рублей
            </h4>
            <p>
                {{event.description | linebreaks}}
            </p>

            <!-- SCHEDULE START -->

            {% if schedule %}

            <a class="btn btn-primary" href="#schedule">Купить билет</a>
            <br>
            <form id="schedule" action="#">
                <h4>
                    Расписание:
                </h4>
                {% for s in schedule %}
                <input class="form-check-input" type="radio" name="availableDate" id="availableDate{{forloop.counter}}">
                <label class="form-check-label" for="availableDate{{forloop.counter}}">{{s.date}}</label>
                <br>

                {%endfor%}

                {% verbatim %}

                <br>

                <div id="counter">
                    <div>Кол-во:</div>
                    <input type="number" v-model="counter">
                    <div class="btn btn-primary" v-if="counter < 10" @click='counterPlus'>Добавить</div>
                    <div class="btn btn-primary" v-if="counter > 0" @click='counterMinus'>Удалить</div>
                </div>

                <br>


                {% endverbatim %}
                <input class="form-control" type="text" placeholder="Имя">
                <br>
                <input class="form-control" type="text" placeholder="Email">
                <br>
                <button class="btn btn-primary" type="submit">Купить</button>

            </form>

            {% endif %}

            <!-- SCHEDULE END -->

        </div>
    </div>
</div>


{% endblock %}