{% extends 'main/base.html' %}

{% load main_tags %}
{% load static %}

{% block content %}
<img class="img-fluid" src="{% static 'main/images/bkg.jpg' %}" style="width: 100%;">

<div class="container">
    <div class="events_type">

        <h1 class="common_h2">
            События
        </h1>
        <h2>
            Все категории
        </h2>
        <div class="events_type__list">

            {% for c in cats %}

            {% if c.event__count > 0 %}

            {% if c.pk == cat_selected %}
            <div class="btn btn-outline-success">
                {{ c.name }}
            </div>

            {% else %}

            <a class="btn btn-secondary" href="{{ c.get_absolute_url }}"> {{ c.name }}</a>

            {% endif %}

            {% endif %}

            {% endfor %}

        </div>
        <div class="section section1">
            <div class="container">
                <div class="row">
                    {% for e in events %}

                    <div class="col-lg-4">
                        <div class="product-item">
                            <div>

                                {% if e.photo %}
                                <img class="img-fluid" src=" {{ e.photo.url }}" alt="">
                                {% endif %}
                            </div>
                            <br>

                            <h4>{{e.title|truncatechars_html:10}}</h4>
                            <p>
                                Категория: {{ e.cat }}
                            </p>
                            <p>
                                Дата: {{ e.time_upload }}
                            </p>

                            <p>{{e.short_description|linebreaks }}</p>

                            <div>
                                {{ e.price }} руб.
                            </div>
                            <br>
                            <div class="add-to-card-btn">
                                <a class="btn btn-success" href="{{ e.get_absolute_url }}">Добавить в корзину</a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}


                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}