{% extends 'main/base.html' %}

{% load main_tags %}

{% block content %}
<div class="container">
    <div class="events_type">

        <div class="common_h2">
            События
        </div>
        <h2>
            Все категории
        </h2>
        <div class="events_type__list">

            {% show_categories '-name' cat_selected %}

        </div>
        <ul>
            {% for e in events %}

            <li>
                {% if e.photo %}
                <img src="{{ e.photo.url }}" alt="">
                {% endif %}

                <h2>{{e.title}}</h2>
                <p>
                    Категория: {{ e.cat }}
                </p>
                <p>
                    Дата: {{ e.time_upload }}
                </p>

                <p>{{e.description|linebreaks | truncatewords:50}}</p>
                <a href="{{ e.get_absolute_url }}">Read more</a>
                <hr>
            </li>

            {% endfor %}
        </ul>

    </div>

</div>

{% endblock %}