{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}

<div class="container">

    <h1>
        {% trans 'Смена пароля' %}
    </h1>

    <ul>
        <li> {% trans 'Пароль не должен быть слишком похож на другую вашу личную информацию.' %}</li>
        <li> {% trans 'Ваш пароль должен содержать как минимум 8 символов.' %}</li>
        <li> {% trans 'Пароль не должен быть слишком простым и распространенным.' %}</li>
        <li> {% trans 'Пароль не может состоять только из цифр.' %}</li>
    </ul>

    <form method="post" class="col-lg-4">
        {% csrf_token %}

        {{form.as_p}}

        <button class="btn btn-primary" type="submit"> {% trans 'Сохранить пароль' %}</button>
    </form>

</div>

{% endblock %}