{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container">

    <h1>
        Редактирование аккаунта
    </h1>


    {% if user.profile.profile_pic %}
    <img width='100px' height="100px" class="rounded-circle border border-success"
        src="{{user.profile.profile_pic.url}}" alt="">

    {% else %}
    <img width='100px' height="100px" class="rounded-circle border border-success"
        src="{% static 'account/images/account_default.png' %}" alt="">
    {% endif %}
    {{user.profile.bio}}

    <form method="post" class="col-lg-4">
        {% csrf_token %}

        {{form.as_p}}

        <button class="btn btn-primary" type="submit">Сохранить</button>
    </form>

</div>

{% endblock %}