{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">

    <h1>
        {% trans 'Редактирование аккаунта' %}
    </h1>


    {% if user.profile.profile_pic %}
    <img width='100px' height="100px" class="rounded-circle border border-success"
        src="{{user.profile.profile_pic.url}}" alt="">

    <a href="{% url 'edit_profile_image' user.profile.pk %}">{% trans 'Изменить изображение' %}</a>

    {% else %}
    <img width='100px' height="100px" class="rounded-circle border border-success"
        src="{% static 'account/images/account_default.png' %}" alt="">
    <a href="{% url 'edit_profile_image' user.pk %}">{% trans 'Добавить изображение' %}</a>
    {% endif %}
    {{user.profile.bio}}

    <form method="post" class="col-lg-4">
        {% csrf_token %}

        {{form.as_p}}

        <button class="btn btn-primary" type="submit">{% trans 'Сохранить' %}</button>
    </form>

</div>

{% endblock %}